# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp
*.exe

# Source Codes
*.xz

# Passwords
passwords.*
Passwords.*
password.*
Password.*
PASSWORD.*
PASSWORDS.*

# Environment Files
.env
